fastapi
uvicorn
pydantic
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
accelerate
pypdf
pytest
httpx
